option_settings:
    aws:elasticbeanstalk:application:environment:
        "DJANGO_SECRET_KEY" : "kky6qtf@8eok6o)me$fwvpnin_i7%5zaqw3)j&iyw=n7i(#x*y"
        "DATABASE_NAME" : "test"
        "DATABASE_USER" : "admin"
        "DATABASE_PASSWORD" : "shkimadmin"
        "AWS_ACCESS_KEY_ID" : "AKIAU6LQAPZKFDMO5L6Z"
        "AWS_SECRET_ACCESS_KEY" : "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"
    aws:elasticbeanstalk:container:python:
        WSGIPath: myblog/wsgi.py

container_commands:
    01_collectstatic:
        command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
    02_migrate:
        command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"